/* reset*/

:root {
    --font-principal: 'Josefin Sans';
    --cor-principal-body: hsl(235, 21%, 11%);
    --color-fonte: hsl(233, 14%, 35%);
    --color-lista: hsl(235, 24%, 19%);
}

* {
    box-sizing: border-box;

}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-principal);
}

body {
    background: url(images/bg-desktop-dark.jpg) no-repeat;
    background-color: var(--cor-principal-body);
    background-size: contain;

}

header,
main {
    max-width: 545px;
    margin: auto;
}

header {
    justify-content: space-between;
    padding: 52px 0 11px;
}



img {
    width: 100%;

}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 1rem;
}

#botao-alterar-tema {
    background: none;
    border: none;
    width: 2;
}

#botao-alterar-tema rodape {
    font-family: var(--font-principal);
    text-align: center;
    font-size: 10px;
    padding-bottom: 0;

}


/*lista de itens*/
.add-new-item {
    background: var(--color-lista);
    height: 65px;
    border-radius: 5px;
    margin: 0 0 30px;
    padding: 0 26px;
}

.add-new-item #addItem {
    background-color: hsl(233, 14%, 35%);
    height: 20px;
    margin: 24px 0 0 47px;
    background: transparent;
    border: 0;
    outline: 0;
    font-family: var(--font-principal);
    font-size: 18px;
    letter-spacing: -0.3px;
}

.add-new-item span {
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-fonte);
    margin: 20px 0 0 0;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.add-new-item span:hover {
    background: center url(images/icon-check.svg) no-repeat,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
}


ul li input[type="checkbox"]:checked~.text {
    text-decoration: line-through;
    color: var(--color-fonte);

}

ul li input[type="checkbox"]:checked~.checkmark {
    background: center url(images/icon-check.svg) no-repeat,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
}

.text {
    color: #fff;
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 200;
    margin: 5px 0 0 10px;
}


.content {
    background: var(--color-lista);
    border-radius: 5px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 15px 10px 0 25px;
    min-height: 65px;

    border-bottom: 1px solid var(--color-fonte);
    position: relative;
}

ul li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

ul li label {
    position: relative;
    cursor: pointer;
    padding: 2px 0 0 48px;
}



.checkmark {
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-fonte);
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.lista-item {
    display: flex;
    gap: 10px;
    padding: 0;

}

/* funções*/

.funcoes {
    background-color: var(--color-lista);
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 35px;
    color: var(--color-fonte);
    cursor: pointer;

}

.funcoes span:hover {
    color: hsl(220, 98%, 61%);

}

.lista-mobile {
    background-color: var(--color-lista);
    border-radius: 5px;
    width: 400px;
    height: 50px;
    display: flex;
    margin: 15px 0 20px 1px;
    gap: 20px;
    color: var(--color-fonte);



}

.nova-lista-funcao {
    background-color: var(--color-lista);
    border-radius: 4px;
    height: 50px;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    color: var(--color-fonte);

}

label.funcao {
    align-content: space-between;
    margin: 20px 0 20px 50px;
    padding: auto;

}

.nova-lista-funcao,
label.funcao,
.lista-mobile {
    display: none;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;

}


rodape {
    text-align: center;
    font-family: var(--font-principal);
    color: var(--color-fonte);
}

/* responsivo*/




/* responsividade tablet*/

@media (max-width: 800px) {
    body {
        background-size: 150%;
        background-position: top;

    }

    h1 {
        font-weight: 700;
        font-size: 1.7rem;
        color: #fff;
        letter-spacing: 0.7rem;
    }

    header {
        padding: 40px 0 0 55px;
        margin: 0 0 20px 140px;

    }

    #botao-alterar-tema {
        background: none;
        border: none;
        width: 2;
        padding-right: 85px;
    }

    .add-new-item {
        background: var(--color-lista);
        height: 60px;
        width: 400px;
        padding: 0 26px;
    }

    main {
        width: 450px;
        margin: auto;
        padding: 0 26px;
    }

    .funcoes {
        display: none;
    }

    .nova-lista-funcao,
    label.funcao,
    .lista-mobile {
        display: block;

    }

    .nova-lista-funcao {
        background-color: var(--color-lista);
        height: 50px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-fonte);

    }

    .lista-mobile {
        background-color: var(--color-lista);
        border-radius: 5px;
        width: 400px;
        height: 50px;
        display: flex;
        margin: 15px 0 20px 0;
        justify-content: center;
        padding-right: 50px;
        color: var(--color-fonte);
    }

    .funcao span {
        margin: 0 -30px 0 0;
    }

    .lista-mobile.fucoes #botao-alterar-tema {
        padding: 0 120px;
    }








}


/* responsivo mobile*/
@media (max-width: 375px) {
    body {
        background-size: 220%;

    }

    header {
        
        padding-top: 10px ;
        font-size: 14px;
        margin: 0 0 20px 1px;
       padding-left: 20px
    }
    

    .add-new-item {
        width: 320px;
        margin-bottom: 15px;
    }

    .content {
        width: 320px;
    }

    .lista-mobile {
        width: 320px;
    }

    .nova-lista-funcao {
        width: 320px;
    }

    #botao-alterar-tema {
        padding-right: 25px;
        w
    }

}